/* background main color : #ffffff */
/* background secondary color: #F5F4FA */
/* footer backgound: #2F303A; */
/* primary text color: #212121 */
/* secondary text color: #757575 */
/* text color: #000000 */
/* accent color: #2196f3 */

:root {
  --background-main-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --footer-backgound: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

/* logo */
.logo {
margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo,
.word {


  color: var(--text-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration-line: none;
}

.word {
  color: var(--accent-color);
}

/* site nav */

.header {
  background-color: var(--background-main-color);
}

.container-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact .links {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .links:hover,
.contact .links:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* hero section */

.hero {
  background-color: var(--footer-backgound);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-btn {
  display: inline-block;
  min-width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* section advantages */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantages,
.practice {
  background-color: var(--background-main-color);
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* section practice */

.practice-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team section */

.team {
  background-color: var(--background-secondary-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

/* footer section */

.footer {
  background-color: var(--footer-backgound);
}

.second {
  color: var(--background-main-color);
}

.secondary {
  color: var(--accent-color);
}

.contact-link {
  text-decoration-line: none;
}

.address {
  font-style: inherit;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: none;
  color: var(--background-main-color);
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio html */

.main {
  background-color: var(--background-main-color);
}

/* button section */

.button {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 73px;
  height: 38px;

  background-color: var(--background-secondary-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* content section */

.content {
  background-color: var(--background-main-color);
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
